h1{
    background-color: lightgrey;
    height: 40px;
    font-size: 30px;
}

h2{
    background-color: lightgoldenrodyellow;
    height: 40px;
    font-size: 30px;
    margin-top: 50px;
}
Table,th,td{
    border: .25px solid black;
    border-style:double;
    text-align: center;
    padding: 5px;
}
.fcol{
    background-color:lightsteelblue ;
}
.col{
    background-color:lightsteelblue ;
}
tr:hover{
background-color: lightskyblue;
}
